.Facebook{
    background-color: darkcyan;
}
.Youtube{
    background-color:brown;
}
.WhatsApp{
    background-color:darkgreen;
}
.Messenger{
    background-color:aqua;
}
.Instagram{
    background-color:darkmagenta;
}